.contributor {
  display: flex;
  margin: $sp-6 0;

  .contributor-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: $sp-4;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .contributor-name,
  .contributor-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .contributor-name {
    @extend .d-inline-block;
  }

  .contributor-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000;

    user-select: none;
  }

  .contributor-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .contributor-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}
