<div class="page-meta" style="font-size:0.85em; color:#666; text-align:center; margin-bottom:0rem; padding-bottom:0;">
  {% if page.author %}
    <span>© {{ page.author }}.</span>
  {% endif %}
  {% if page.last_modified_at %}
    <span> · Last modified: {{ page.last_modified_at | date: "%b %d, %Y" }}</span>
  {% else %}
    <span> · Last updated: {{ page.date | date: "%b %d, %Y" }}</span>
  {% endif %}
</div>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSfo5dKo2k0jT7-zJpRB1MwoEZ6eTchQq_zhGSBfgqwkfS7oxw/viewform?usp=publish-editor" target="_blank" rel="noopener noreferrer" class="feedback-floating-pill">
  Feedback & Bugs
</a>
